findings.md
progress.md
task_plan.md
downloaded_ckpts/*
.vscode/*
__pycache__/*
analysis/analysis_results/*
data/Amazon/*
temp_results/*
results/*
result_temp/*
wandb/*
output_dir/*
analysis_results/*
temp/*
logs/*
/outputs/
/.planning/
*.whl
*.pyc

data_backup/*
data/*
rq/*
